/*Estilização Pagina Contato*/

section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea{
    width: 100%;
    background-color: rgb(90, 88, 88);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

.text h3{
    color: darkred;
    font-size: 29px;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

body{
    background-color: black;
}

form textarea{
    resize: none;
    max-height: 500px;
}

form .btn-enviar{
    margin-top: 30px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: darkred;
    color: black;
    font-weight: 700;
    cursor: pointer;
}